<%= content_for :breadcrumbs do %>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Messages', "#" %></li>
<% end %>
<!-- filter which messages are displayed based on who's logged in -->
<div class="container">
  <h1><center>Messages For <%= current_user.full_name %></center></h1>

  <% if @admin_mode %>
    <!-- batch style queries do not retain order, TODO:better solution-->

      <% Message.order("created_at DESC").all.each do |m| %>
        <div class="card card-2">
          <h4><%= m.title %></h4>
          <hr>
          <p>to: <h4><%= @aht[m.receiver_id] %></h4></p>
          <p>from: <h4><%= m.sender_email %></h4></p>
          <p>message: <%= m.body %></p>
          <% @message_display_count += 1 %>
        </div>
      <% end %>

  <% else %>
      <% Message.where(receiver_id: current_user.id).order("created_at DESC").all.each do |m| %>
        <div class="card card-2">

          <%= button_to message_path(m.id), :controller => :messages, :action => 'destroy', :method => :delete, :class => "btn btn-warning btn-mini pull-right" do %>

            Delete
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>

          <h4><%= m.title %></h4>
          <hr>
          <h4><%= m.sender_email %></h4>
          <p>message: <%= m.body %></p>
          <% @message_display_count += 1 %>
        </div>
      <% end %>

  <% end %>

  <% if @message_display_count == 0 %>
    <div class="card card-2">
      <h2><center><small>No messages at this time</small></center></h2>
    </div>
  <% end %>

</div>
