<%= content_for :breadcrumbs do %>
  <li><%= link_to 'Home', root_path %></li>
<% end %>

<center><h2>Edit <%= resource_name.to_s.humanize %></h2></center>
<div class="container">
  <div class="jumbotron">

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, autocomplete: "off", hint: "Leave it blank if you don't want to change it", required: false %>
        <%= f.input :password_confirmation, required: false %>

        <%= f.input :full_name, required: true, autofocus: true %>
        <%= f.input :bio, required: true, autofocus: true %>
        <%= f.file_field :avatar, required: true, autofocus: true %>
        <br>
        <%= f.input :current_password, hint: "Enter current password to confirm your changes", required: true %>
      </div>
      <br><br>
      <div class="form-actions">
        <%= f.button :submit, "Update", :class => "btn btn-secondary btn-lg btn-block" %>
    <% end %>

    <br>
    <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
  </div>
</div>
