<div class="container">
  <h1><%= @user.full_name %></h1>
  <br>
  <p><%= @user.bio %></p>
  <br>

  <% album_exists = false %>
  <% Album.find_each do |a| %>
    <% if a.user_id == @user.id %>

        <% album_exists = true %>
          <%= link_to album_path(a.id) do %>
            <h2><%= a.title %></h2>
          <% end %>
          <p><%= a.description %></p>

    <% end %>
  <% end %>

  <% if album_exists == false %>
    <h2> No Albums have been posted </h2>
  <% end %>
</div>
