<%= content_for :breadcrumbs do %>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to @user.full_name, user_path(@user.id) %></li>
<% end %>

<body>
  <div class="container">

    <% if @edit_mode || @admin_mode %>
      <center>
        <div class="btn-group" role="group">
          <%= link_to 'Create Album', new_album_path, class: "btn btn-default btn-lg" %>
          <%= link_to 'Upload Piece', new_piece_path, class: "btn btn-default btn-lg" %>
        </div>
      </center>
      <br>
    <% end %>

    <!-- User Profile Box -->
    <div class="bio_chunk">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">
                <%= @user.full_name %>  
              </h1>
          </div>
      </div>
      <div class="media">
        <span class="media-left">
            <%= image_tag( @user.avatar.url(:thumb) ) %>
        </span>
        <div class="media-body">
            <p class="media-heading"><%= @user.bio %></p>
            <br>
            <% unless @edit_mode %>
              <center><%= link_to 'Contact This Artist', new_message_path(artist_id: @user.id), class: "btn btn-default" %></center>
            <% end %>
        </div>
      </div>
    </div>
    <!-- Display Albums -->
    <% @user_albums.order(:priority).each do |a| %>

      <div class="album_chunk">

        <center><h2 class="page-header">
          <%= link_to a.title , album_path(a.id), :method => :get %>
          <% if @edit_mode || @admin_mode %>
            <small>(priority: <%= a.priority %>)</small>
          <% end %>
        </h2></center>


        <% Piece.where(album_id: a.id).order("priority DESC").in_groups_of(4, false) do |group| %>
            <% group.each do |e| %>
              <div class="col-md-3 portfolio-item">

                  <%= link_to image_tag( e.image.url(:grid_view), { class: "img-responsive" } ), piece_path(e.id) %>

              </div>
            <% end %>
        <% end %>

      </div>

    <% end %>
  </div>
</body>
