<div class="jumbotron">
  <%= simple_form_for @piece, html: { multipart: true } do |f| %>
    <%= f.input :title, required: true, autofocus: true, error: 'Title is mandatory' %>
    <%= f.input :description %>
    <% array = [] %>
    <!-- Only allow adding to the current users albums  -->
    <% Album.find_each { |a| if a.user_id == current_user.id then array << [a.title, a.id] end} %>

    <% if params[:parent_id] %>
      <!-- put the param passed into the form into a hidden field that can be accessed by controller create method -->
      <!-- TODO: There must be a better way to do this ?-->
      <%= hidden_field_tag "p_id", params[:parent_id] %>

    <% else %>

      <%= f.input :album_id,
        collection: array,
        required: true,
        autofocus: true,
        hint: 'New artwork must be added to an album' %>

    <% end %>

    <%= f.input :priority,
      :collection => 1..100,
      required: true,
      autofocus: true,
      hint: 'Priorty lets you control the order your pieces appear in',
      :selected => 1 %>

    <%= f.file_field :image, required: true, autofocus: true, error: 'Image is mandatory' %>

    <br>
    <%= f.button :submit, :class => "btn btn-secondary btn-lg btn-block" %>
  <% end %>
</div>
