<%= content_for :breadcrumbs do %>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to @piece_owner.full_name, user_path(@piece_owner.id) %></li>
  <li><%= link_to @piece_album.title, album_path(@piece_album.id) %>
  <li><%= link_to @piece.title, "#" %></li>
<% end %>

<center>
  <br>
  <%= image_tag @piece.image.url(:full_size), :class => "style_image_full" %>

  <div class="container">

    <h1 class="page-header">
      <%= @piece.title %>
      <small><%= @piece_owner.full_name %></small>
      <% if @edit_mode || @admin_mode %>
        <small>(Priority: <%= @piece.priority %>)</small>
      <% end %>
    </h1>

    <!-- album_id -> album -> user_id -> user -> full_name -->

    <br>
    <p><%= @piece.description %></p>
    <br>

    <% if @edit_mode || @admin_mode %>
      <div class="btn-group" role="group" aria-label="...">
        <%= link_to 'Delete Artwork', piece_path(@piece.id), :method => :delete, class: "btn btn-default", data: { confirm: "Delete This Piece?" } %>
        <%= link_to 'Edit Artwork', edit_piece_path(@piece.id), class: "btn btn-default" %>
      </div>
    <% else %>
      <%= link_to 'Contact This Artist', root_path, class: "btn btn-default" %>
    <% end %>


  </div>

</center>
