<!-- Page Content -->
<div class="container">
    <%= button_to 'Delete This Album', album_path(@album), method: :delete %>
    <hr>
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> <%= @album.title %>
                <small><%= @user.full_name %></small>
            </h1>
        </div>
    </div>

    <% Piece.where(album_id: @album.id).in_groups_of(4, false) do |group| %>
      <div class="row">

        <% group.each do |a| %>
          <div class="col-md-3 portfolio-item">
            <%= link_to piece_path(a.id) do %>
              <%= image_tag( a.image.url(:grid_view), { class: "img-responsive" } ) %>
            <% end %>
          </div>
        <% end %>

      </div>
    <% end %>

    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Artisans Treasures 2016</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
