<div class="container">
  <% if @edit_mode || @admin_mode %>
    <div class="edit_button">
      <%= button_to album_path(@album), :method => :delete, class: "btn btn-warning btn-lg" do %>
        <span class="glyphicon glyphicon-remove"></span>
        Delete Album
      <% end %>
    </div>
    <div class="edit_button">
      <%= button_to edit_album_path(@album), :method => :get, class: "btn btn-info btn-lg" do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Edit Album
      <% end %>
    </div>

    <div class="edit_button">
      <%= button_to new_piece_path(parent_id: @album.id), :method => :get, class: "btn btn-success btn-lg" do %>
        <span class="glyphicon glyphicon-plus"></span>
        Add Artwork
      <% end %>
    </div>
  <% end %>

  <div class="card card-2">
    <center><h1 class="page-header">
      <%= button_to user_path(@user), :method => :get, class: "btn btn-info pull-left" do %>
        artist page
        <span class="glyphicon glyphicon-chevron-left"></span>
      <% end %>
      <%= @album.title %>
      <% if @edit_mode || @admin_mode %>
        <small>(Priority: <%= @album.priority %>)</small>
      <% end %>
      <small><%= @user.full_name %></small>
    </h1></center>


    <% if @edit_mode || @admin_mode %>
      <p>Artworks are displayed in decreasing order of priority</p>
    <% end %>

    <% count = 0 %>
    <% Piece.where(album_id: @album.id).order("priority DESC").in_groups_of(4, false) do |group| %>
      <div class="row">

        <% group.each do |a| %>
          <% count += 1 %>
          <div class="col-md-3 portfolio-item">

            <%= link_to piece_path(a.id) do %>
              <%= image_tag( a.image.url(:grid_view), { class: "img-responsive img-list" } ) %>
            <% end %>

          </div>
        <% end %>

      </div>
    <% end %>

    <% if count <= 0 %>
      <center><h3>No Artwork Posted Yet</h3></center>
    <% end %>
    <hr>
    <p><%= @album.description %></p>


    <% unless @edit_mode || @admin_mode %>
      <%= render partial: "shared/contact_button", locals: { id: @user.id } %>
    <% end %>

  </div>

</div>
