<%= button_to 'Delete This Album', album_path(@album), method: :delete %>

<h1 id="album_show_title" align="right"><%= @album.title %></h1>
<p align="right"><%= @album.description %></p>

<br>

<div id="album_block">
  <% Piece.find_each do |a| %>
    <% if a.album_id == @album.id %>

        <div class="img_block">
          <%= link_to (image_tag a.image.url(:large), :class => "style_image_full", id: "user_show_album_image"), piece_path(a.id) %>
          <h2><%= a.title %></h2>
          <p><%= a.description %></p>
        </div>
    <% end %>
  <% end %>
</div>
